.produtos .container-produtos {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px; 
}

.produtos .container-produtos .produto{
    border-radius: 5px;
    transition: all 0.3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: relative; 
}

.produtos .container-produtos .produto:hover,
.produtos .container-produtos .produto:hover .informacoes-produto {
    background-color:var(--cor-5);
    opacity: 0.8;
}

.produtos .container-produtos .produto img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.produtos .container-produtos .produto .informacoes-produto {
    padding: 20px;    
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;    
    transition: all .3s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.informacoes-produto p{
    color: var(--cor-3);
}

.produtos .container-produtos .produto .informacoes-produto p:nth-child(2) {
    font-weight: 500;
    margin-top: 10px;
    font-size: 4rem;
}

.produtos .container-produtos .produto h3 {
    font-size: 4rem;
    font-weight: 500;    
    position: absolute;      
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    bottom: 0;
    align-items: center;
    color: var(--cor-3);
    border-top: solid 2px;
}